.searchBar {
    padding: 15px;
    margin: 10px;
  }
  
  .videoContainer {
    padding: 15px;
  }
  
  .iframe {
    height: 500px;
  }
  
  .videoItem {
    padding: 15px;
    display: flex;
    cursor: pointer;
  }
  
  .videoImg {
    width: 50%;
  }
  
  .channelImg {
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 50%;
  }
  
  .videoItemTitle {
    padding: 20px;
    letter-spacing: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .stats {
    padding: 10px 0px 10px 0px;
    color: #606060;
  }
  
  .darkBackground {
    background-color: black;
    color: white;
  }